@font-face { font-family: Verlag-Bold; src: url('Verlag-Bold.otf'); }
@font-face { font-family: Verlag-Light; src: url('Verlag-Light.otf'); }

.body {
    margin: 0;
}

.o-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin: 1rem;

    font-family: 'Roboto Mono';
}

.c-title{
    font-size: 4rem;
}

.c-title--job {
    font-family: 'Space Mono';
    font-size: 2rem;
}

.o-showcase-container {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
}

.c-panel {
    flex: 1 0 30%;
}

.c-panel__photo {
    width: 500px;
    height: 500px;
    background-color: #D1DBBD;
    cursor: pointer;
}



.c-panel__photo {
    &.is-hovered {
        .c-panel__desc {
            -webkit-animation: slide-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            -moz-animation: slide-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: slide-top 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
    }

    .c-panel__desc {
        position: relative;
        top: 70%;
        text-align: center;
        opacity: 0;
        transition: 0.5s;
    }
}
